:root {

    /* typo */
    --font_size__default: 16px;
    --line_height__default: 20px;
    --font_size__h1: 22px;
    --font_size__h2: 20px;
    --font_size__h3: 18px;
    --font_size__h4: 14px;
    --font_size__h5: 12px;
    --font_size__h6: 10px;

    /* grid */
    --grid__gutter: 30px;

    /* padding & margin */
    --padding__default: 20px;
    --margin__default: 20px;

    /* block */
    --cabi_block_background1: #eee;
    --cabi_block_background2: #c0c0c0;
    --cabi_block_padding: 40px;

    /* button */
    --cabi_block__button_padding: 10px;
    --cabi_block__button_margin: 20px;
    --cabi_block__button_radius: 5px;
    --cabi_block__button_background: #000;
    --cabi_block__button_foreground: #fff;

    /* transitions */
    --transition__time: 0.6s; 

    /* images */
    --images_coverheight__mobile: 400px;
    --images_heroheight: 500px;

    /* form */
    --form__background: #000;
    --form__foreground: #fff;
    --form__spacing: 10px;
    --form__textarea_height: 170px;

    /* colors */
    --colors__link: red;
    --colors__link_hover: blue;
    --colors__palette1: green;
    
    /* footer */
    --footer__background: #333;
    --footer__foreground: #ccc;

}

/* TYPO ================================= */

body {
    /*overflow-x: hidden;*/
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font_size__default);
    line-height: var(--line_height__default);
}

h1 {
    font-size: var(--font_size__h1);
    margin-bottom: var(--margin__default);
}

h2 {
    font-size: var(--font_size__h2);
    margin-bottom: var(--margin__default);
}

h1 + h2, h2 + h3 {
    margin-top: calc(-1 * var(--margin__default));
}

h3 {
    font-size: var(--font_size__h3);
    margin-bottom: var(--margin__default);
}

h4 {
    font-size: var(--font_size__h4);
}

h5 {
    font-size: var(--font_size__h5);
}

h6 {
    font-size: var(--font_size__h6);
}

a {
    text-decoration: none;
    font-weight: 700;
    color: var(--colors__link);
    transition: color var(--transition__time), background var(--transition__time);
}

a:hover {
    text-decoration: none;
    font-weight: 700;
    color: var(--colors__link_hover);
}

ul {
    margin: 0 0 var(--margin__default) var(--margin__default);
}

li {
    list-style-type: square;
}

p {
    margin-bottom: var(--margin__default);
}

/* BLOCK ================================ */

.cabi_block {
    padding: var(--cabi_block_padding) 0 !important;
    position: relative;
}

.cabi_block .row > div {
    margin-bottom: var(--margin__default);
}

.cabi_block .row > div:last-child {
    margin-bottom: 0;
}

.cabi_block:nth-child(odd) {
    background: var(--cabi_block_background1);
}

.cabi_block:nth-child(even) {
    background: var(--cabi_block_background2);
}

/* BLOCK MODIFIERS ======================= */

.cabi_block--centered {
    text-align: center;
}

.cabi_block--right {
    text-align: right;
}

/* HERO ================================== */

.cabi_block--hero {
    color: #fff;
}

.cabi_block--hero h1 {
    font-size: 32px;
    line-height: 36px;
}

/* CAROUSEL (SLICK) ============================== */

.cabi_block--carousel {
    padding: 0 !important;
}

.cabi_carousel--slick .slick-prev {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 99;
}

.cabi_carousel--slick .slick-next {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 99;
}

.cabi_carousel--slick .slick-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    z-index: 99;
}

.cabi_carousel--slick .slick-dots li {
    display: inline-block;
}

/* BUTTON ================================ */

.cabi_block__button {
    margin: var(--cabi_block__button_margin) 0 0 0;
}

.cabi_block__button--right {
    text-align: right;
}

.cabi_block__button--center {
    text-align: center;
}

.cabi_block__button--bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
}

.cabi_block__button--bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
}

.cabi_block__link {
    display: inline-block;
    background: var(--cabi_block__button_background);
    font-weight: 700;
    text-transform: uppercase;
    border-radius: var( --cabi_block__button_radius);
    padding: var(--cabi_block__button_padding);
    transition: color var(--transition__time), background var(--transition__time);
    color: var(--cabi_block__button_foreground);
}

.cabi_block__link:hover {
    color: var(--cabi_block__button_background);
    background: var(--cabi_block__button_foreground);
}

/* VIDEO ================================= */

.cabi_block__video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.cabi_block__video iframe, .cabi_block__video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* FORM ================================== */

.cabi_block--form form {
    background: var(--form__background);
    color: var(--form__foreground);
    padding: var(--padding__default);
    opacity: 0.8;
}

.cabi_block--form input, .cabi_block--form textarea {
    border: none;
    padding: var(--form__spacing);
    margin-bottom: var(--form__spacing);
}

.cabi_block--form input[type=checkbox] {
    margin-right: 6px !important;
}

.cabi_block--input, .cabi_block--textarea {
    width: 100%;
}

.cabi_block--submit {
    text-transform: uppercase;
    width: 100%;
    font-weight: 700;
    color: #fff;
    background: var(--colors__palette1);
    margin-top: var(--form__spacing);
    cursor: pointer;
}

/* FOOTER ================================ */

.cabi_block--footer {
    color: var(--footer__foreground);
    background: var(--footer__background) !important;
}

.cabi_block--footer a {
    color: #fff;
    font-weight: 400;
}

/* SOCIAL ================================ */

.cabi_block__social li {
    list-style-type: none;
    display: inline-block;
}

.cabi_block__social i {
    font-size: 32px;
    margin: 0 var(--margin__default) 0 -15px;
}

/* ICONS ================================= */

.cabi_block__icons {
    text-align: center;
}

/* IMAGES ================================ */

.cabi_block__image {
    width: 100%;
    height: auto;
}

.cabi_block__coverimage {
    background-size: cover;
    min-height: var(--images_coverheight__mobile);
}

/* SMALL ================================= */

@media (min-width: 540px) {

}

/* MEDIUM ================================ */

@media (min-width: 768px) {
    
    .cabi_block .row > div {
        margin-bottom: 0;
    }

    .cabi_block__social {
        text-align: right;
    }

    .cabi_block__social i {
        margin: 0 0 0 var(--margin__default);
    }

    .cabi_block__coverimage {
        min-height: 0;
    }

    .cabi_block--hero {
        height: var(--images_heroheight);
    }

}

/* LARGE ================================= */

@media (min-width: 960px) {

}

/* EXTRA LARGE =========================== */
@media (min-width: 1140px) {

}